modal==1.0.5
fastapi==0.115.6
pydantic==2.9.2
python-multipart==0.0.9
torch==2.4.1
transformers==4.50.3
accelerate==0.34.2
pillow==10.4.0
soundfile==0.12.1
tensorflow==2.17.0
huggingface_hub==0.25.2
tf_keras==2.17.0
numpy==1.26.4
git+https://github.com/Google-Health/cxr-foundation.git@aa4c2117448978214a78fd63798930f4d6b9602e#subdirectory=python
